<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email is confirmed</title>
    <style>
        html{
            height: 30%;
        }
        body {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            flex-direction: column;
            text-align: center;
        }

    </style>
</head>
<body>

    <h1>Your email is confirmed successfully!</h1>
    <p>You can close this page and return to the website.</p>
</body>
</html>